@import "./_global_variables.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

textarea,
button {
    margin: 5px 0;
    width: 100%;
}

textarea {
    height: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #45a049;
    }
}

#selectorTags {
    display: block;
    margin-top: 10px;
    & > .tag {
        display: inline-block;
        background-color: $light-gray;
        border-radius: 3px;
        padding: 2px 5px;
        margin: 2px;
        font-size: 12px;
        & > .remove-button {
            display: inline-flex;
            color: $deep-gray;
            cursor: pointer;
            font-weight: bold;
            &:hover {
                color: $black;
            }
        }
    }
}

h1 {
    color: #333;
}

p {
    color: #666;
}

#status {
    margin-top: 10px;
    font-weight: bold;
}
